.header {
	box-shadow: 0 2px 4px 0 rgba(10, 19, 49, 0.07);
  position: relative;
	 @include max-width($landscape-tablet){
		 display: none;
	 }

	 &-icons {
		display: flex;
		justify-content: flex-end;
		width: 18%;

		@include max-width($landscape-tablet){
			width: 130px;
		}
	}

	 &-contacts-block {
		 display: flex;
		 align-items: center;
		 flex-direction: column;
		 justify-content: space-between;
		 height: 100%;

		 a {
			 color: #333333;
			 font-size: 16px;
			 font-weight: 700;

			 &:first-child{
				 margin-bottom: 8px;
			 }

			 i {
				 margin-right: 4px;
			 }
		 }
	 }

  &-icon {
    font-size: 26px;
    color: #333333;
		margin-right: 16px;
		position: relative;

    &:active,
    &:hover {
      text-decoration: none;
    }
  }

  &-login-btn {
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #333333;
    border-radius: 6px;
		padding: 3px 15px;
		margin-right: 16px;

    &:active,
    &:hover {
      color: #ff6008;
      border: 1px solid #ff6008;
    }
	}
	&-cart-amount {
		position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 22px;
    min-height: 22px;
    border-radius: 50%;
    background-color: #333333;
    top: -10px;
    right: -16px;
    color: $red;
    font-size: 18px;
    font-weight: 700;
  }
}
