.pagination {
	display: flex;
	justify-content: center;
	padding: 15px 0;

	.nav-links {
		color: #333333;
		font-size: 17px;
		@include flex-center;
		&.active,
		&:hover {
			background-color:  #fff;
			a {
				color: #333333;
			}
	}
}

	li {
		margin: 5px;
		border-radius: 50%;
		&.active,
		&:hover {
			background-color:  #333333;
			a {
				color: #fff;
			}
		}

		a {
			display: inline-block;
			padding: 7px 10px;
			font-size: 15px;
			color: #333333;
			&:active,
			&:hover {
				text-decoration: none;
			}
		}
	}
}
